services:
  heartbeat-agent-prod:
    build:
      context: ./apps/heartbeat
      dockerfile: Dockerfile
    container_name: heartbeat-agent-prod
    restart: unless-stopped
    user: "1001:988"
    env_file:
      - ./.env.prod
    environment:
      - TZ=America/Lima
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock

  heartbeat-dashboard-prod:
    build:
      context: ./apps/dashboard/backend
      dockerfile: Dockerfile
    container_name: heartbeat-dashboard-prod
    restart: unless-stopped
    ports:
      - "8098:8000"
    env_file:
      - ./.env.prod
    volumes:
      - ./data:/app/data:ro
      - ./apps/dashboard/frontend:/app/frontend:ro
    depends_on:
      - heartbeat-agent-prod