services:
  monitor-agent:
    build:
      context: ./apps/heartbeat
      dockerfile: Dockerfile
    container_name: heartbeat-agent
    restart: unless-stopped
    user: "1001:988"
    env_file:
      - ./.env.prod
    environment:
      - TZ=America/Lima
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
