services:
  mock-server:
    build:
      context: ./apps/mocks
      dockerfile: Dockerfile
    container_name: heartbeat-mock
    env_file:
      - ./.env.dev
    ports:
      - "8099:8080"
    volumes:
      - ./data/mock_logs:/tmp

  monitor-agent-dev:
    build:
      context: ./apps/heartbeat
      dockerfile: Dockerfile
    container_name: heartbeat-agent-dev
    restart: "no"
    user: "1001:988"
    depends_on:
      - mock-server
    env_file:
      - ./.env.dev
    environment:
      - TZ=America/Lima
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
