services:
  heartbeat-mock-dev:
    build:
      context: ./apps/mocks
      dockerfile: Dockerfile
    container_name: heartbeat-mock-dev
    env_file:
      - ./.env.dev
    ports:
      - "8099:8080"

  heartbeat-agent-dev:
    build:
      context: ./apps/heartbeat
      dockerfile: Dockerfile
    container_name: heartbeat-agent-dev
    restart: "no"
    user: "1001:988"
    depends_on:
      - heartbeat-mock-dev
    env_file:
      - ./.env.dev
    environment:
      - TZ=America/Lima
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
      - ./tests:/app/tests
      - ./apps/heartbeat:/app
    command: /bin/sh -c "rm -f /app/data/metrics_dev.db && python main.py"

  heartbeat-dashboard-dev:
    build:
      context: ./apps/dashboard
      dockerfile: backend/Dockerfile
    container_name: heartbeat-dashboard-dev
    ports:
      - "8098:8000"
    env_file:
      - ./.env.dev
    volumes:
      - ./data:/app/data
      - ./apps/dashboard/backend:/app
      - ./apps/dashboard/frontend:/app/frontend
    depends_on:
      - heartbeat-agent-dev